#app {
  height: 100%;
}

body {
  background-color: #222;
  color: #DDD;
}

body div#app {
  margin-left: 3em;

}

body div#app .level1{
  color: #DDD;
}

body div#app .level2{
  color: #DDD;
}

body div#app .main-view{
  outline: none;
}
